.btn {
    display: inline-flex;
    padding: rem(15) rem(50);
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
    background-color: $blueColor;
    border-radius: rem(2);
    font-weight: 700;
    line-height: math.div(19.36, 16);
    transition: background-color 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: $lightBlueColor;
        }
    }
}

.subtitle {
    color: $blueColor;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 18, 12);
    font-weight: 800;
    line-height: math.div(21.78, 18);
}

.title {
    color: $blackColor;
    text-transform: uppercase;
    font-weight: 700;
    line-height: math.div(48, 40);
    @include adaptiveValue("font-size", 40, 24);
}

.swiper-button-prev,
.swiper-button-next {
    background-color: $blueColor;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: rem(18);
    border-radius: rem(2);
    color: $whiteColor;
    font-size: rem(18);
    transition: background-color 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: $lightBlueColor;
        }
    }
}

.swiper-button-next {
    transform: rotate(180deg);
}

.swiper-pagination-bullet {
    width: rem(18);
    height: rem(18);
    border-radius: 50%;
    background-color: #CFCFCF;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        opacity: 0;
        position: absolute;
        width: rem(9);
        height: rem(9);
        border-radius: 50%;
        background-color: $blueColor;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }
}

.swiper-pagination-bullet-active {
    &::before {
        opacity: 1;
        transition: all 0.3s ease 0s;
    }
}

.partners {
    @include adaptiveValue("padding-top", 97, 55);
    @include adaptiveValue("padding-bottom", 100, 85);

    &__title {
        background-image: url('@img/decor-03.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 40%;
        text-align: center;
        padding: rem(10) 0;
        @include adaptiveValue("margin-bottom", 45, 20);

        @media (max-width:$mobile) {
            background-size: 65%;
        }

        @media (max-width:$mobileSmall) {
            background-size: 100%;
        }

        &_blank {
            background-image: none;
        }
    }

    &__list {
        display: flex;
        @include adaptiveValue("gap", 40, 22);
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        max-width: rem(204);

        @media (max-width:$mobile) {
            max-width: rem(153);
        }

        img {
            width: 100%;
        }
    }
}

.contact-form {
    background-color: $whiteColor;
    border-radius: rem(5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(55) rem(84);

    &__title {
        text-align: center;
        @include adaptiveValue("font-size", 44, 24);
        line-height: math.div(53, 44);
        margin-bottom: rem(5);
    }

    &__image {
        transform: scale(0.957);
        position: absolute;
        top: 2%;
        left: -24%;

        @media (max-width:$pc) {
            transform: scale(0.8);
            top: -5%;
            left: -14%;
        }

        @media (max-width:rem(1023.98)) {
            transform: scale(0.7);
            top: -9%;
            left: -18%;
        }

        @media (max-width:$mobileSmall) {
            transform: scale(0.51);
            top: -9.5%;
            left: -26%;
        }
    }

    &__text {
        max-width: rem(415);
        @include adaptiveValue("font-size", 18, 16);
        line-height: math.div(27, 18);
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__list {
        padding: rem(30) 0;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(14);
        }
    }

    &__label {
        display: block;
        line-height: 130.02%;
        margin-bottom: rem(2);

        span {
            color: #CF0000;
            padding-left: rem(1);
        }
    }

    &__input {
        background: #F2F2F2;
        width: 100%;
        height: rem(45);
        padding: rem(10);
    }

    &__textarea {
        background: #F2F2F2;
        width: 100%;
        padding: rem(10);
        height: rem(118);
        resize: none;
    }

    &__button {
        padding: rem(13) rem(30);
    }
}

.scroll-up {
    position: fixed;
    right: rem(25);
    bottom: rem(25);
    z-index: 500;
    width: rem(50);
    height: rem(50);
    color: $lightBlueColor;
    cursor: pointer;
    visibility: hidden;
    border-radius: rem(50);
    box-shadow: inset 0 0 0 rem(4) $lightBlueColor;
    opacity: 0;
    transition: .2s;
    transform: translateY(rem(25));

    @media (any-hover: hover){
        &:hover{
            color: $blueColor;
        }
    }

    &::before{
        content:'↑';
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: rem(20);
    }

    &__svg-path {
        box-sizing: border-box;
        fill: #fff;
        stroke: $blueColor;
        stroke-width: rem(4);
        transition: .2s;
    }
}

.scroll-up-active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
