.footer {
    background-color: $blackColor;
    @include adaptiveValue("padding-top", 41,31);
    @include adaptiveValue("padding-bottom", 41,20);
    line-height: math.div(19.36, 16);

    &__container {}
}

.footer-top {
    display: flex;
    align-items: center;
    gap: rem(57);
    justify-content: space-between;
    padding-bottom: rem(31);
    @media (max-width:$mobile){
        justify-content: space-evenly;
    }
    @media (max-width:rem(374.98)){
        justify-content: space-between;
        gap: rem(20);
    }

    &__logo {
        @include adaptiveValue("width", 177, 122);
        transition: opacity 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.8;
            }
        }

        img {
            width: 100%;
        }
    }

    &__form {
        position: relative;
        @media (max-width:$mobile){
            margin-bottom: rem(10);
        }
    }

    &__input {
        background-color: #F2F2F2;
        padding: rem(12) rem(27);
        border-radius: rem(2);
        @include adaptiveValue("width", 300, 203);
        margin-right: rem(-6);
        @media (max-width:rem(375)){
            width: 80%;
            margin-right: 0;
        }
    }

    &__btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: rem(12) rem(27);
        background-color: $blueColor;
        color: $whiteColor;
        font-weight: 600;
        border-radius: rem(2);
        transition: background-color 0.3s ease 0s;
        @include adaptiveValue("width", 188, 130);
        @media (max-width:rem(375)){
            width: 80%;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $lightBlueColor;
            }
        }
    }
}

.footer-body {
    padding: rem(38) 0 rem(32) 0;
    display: grid;
    grid-template-columns: rem(136) rem(320) rem(181) rem(205);
    gap: rem(30);
    align-items: center;
    color: $whiteColor;
    position: relative;
    justify-content: space-between;
    @media (max-width:rem(1024)){
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    @media (max-width:$mobile){
        grid-template-columns: 1fr;
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: rem(1);
        background-color: #737373;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    a {
        transition: color 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: $lightBlueColor;
            }
        }
    }
}

.footer-body-list {
    @media (max-width:rem(1024)){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width:$mobile){
        align-items: flex-end;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }

    &__link {
        font-weight: 500;
        color: $whiteColor;
        text-transform: uppercase;
        @media (max-width:$mobile){
            text-transform: none;
        }
    }
}

.footer-body-contacts {

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(29);
        }
    }

    &__text {
        margin-bottom: rem(7);
        font-weight: 500;
    }

    &__link {}
}

.footer-body-address {
    @media (max-width:$mobile){
        margin-bottom: rem(20);
    }

    &__text {
        font-weight: 500;

        margin-bottom: rem(7);
    }

    &__link {
        display: inline-block;
        max-width: rem(143);

    }
}

.footer-body-socials {
    display: flex;
    gap: rem(37);
    justify-content: center;
    @media (max-width:$mobile){
        margin-bottom: rem(10);
    }

    &__item {
        font-size: rem(23);
    }

    &__link {}
}

.footer-bottom {
    color: $whiteColor;
    @include adaptiveValue("padding-top", 41,20);
    text-align: center;

    &__copy {
        transition: color 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: $lightBlueColor;
            }
        }
    }
}