.impact {
    @include adaptiveValue("padding-top", 185, 120);
    @include adaptiveValue("padding-bottom", 140, 110);
    background-image: url('@img/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;


    &__container {
        display: flex;
        align-items: center;
        gap: rem(20);
        justify-content: space-between;
        @media (max-width:$tablet){
            justify-content: center;
            align-items: center;
        }
    }

    &__body {
        flex: 0 1 52%;
        min-width: rem(470);
        @media (max-width:$tablet){
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 0 1 80%;
            min-width: 0;
            flex: 0 1 100%;
        }
    }

    &__subtitle {
        @include adaptiveValue("margin-bottom", 10, 4);
        @media (max-width:$tablet){
            text-align: center;
        }
    }

    &__title {
        margin-bottom: rem(30);
        position: relative;
        z-index: 1;
        &::before{
            content:url('@img/decor-01.png');
            position: absolute;
            transform: scale(0.69);
            top: -100%;
            left: -21%;
            z-index: -1;
            @media (max-width:$tablet){
                transform: scale(0.5);
                top: -143%;
                left: -53%;
            }
            @media (max-width:$mobile){
                transform: scale(0.37);
                top: -170%;
                left: -70%;
            }
            @media (max-width:$mobileSmall){
                top: -210%;
                left: -80%;
            }
        }
        @media (max-width:$tablet){
            text-align: center;
        }
    }

    &__list {
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }

        position: relative;
        &::before{
            content:'';
            position: absolute;
            width: rem(9);
            height: rem(9);
            border-radius: 50%;
            background-color: $mainColor;
            top: rem(7);
            left: 0;
        }
    }

    &__text {
        @include adaptiveValue("font-size", 18, 14);
        line-height: 130%;
        padding-left: rem(20);
    }

    &__image {
        width: rem(545);
        position: relative;
        &::before{
            content:url('@img/decor-07.png');
            position: absolute;
            top: -5%;
            left: -7%;
            @media (max-width:$pc){
                top: 0;
                left: 0;
            }
            @media (max-width:$tablet){
                display: none;
            }
        }
        &::after{
            content:url('@img/decor-08.png');
            display: none;
            @media (max-width:$tablet){
                display: inherit;
                position: absolute;
                bottom: -6%;
                left: 5%;
            }
        }

        @include adaptiveValue("height", 564, 345);
        @media (max-width:$tablet){
            margin-bottom: rem(50);
        }
        @media (max-width:rem(580)){
            width: 100%;
        }
        @media (max-width:$mobileSmall){
            width: 114%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        }
    }
}

.news {
    @include adaptiveValue("padding-top", 110, 30);
    padding-bottom: rem(100);

    &__container {
        display: flex;
        flex-direction: column;
        
    }

    &__title {
        @include adaptiveValue("margin-bottom", 30, 13);
        padding: rem(30) 0 rem(20) 0;
        text-align: center;
        background-image: url('@img/decor-02.png');
        background-repeat: no-repeat;
        background-position: 63% 40%;
        @media (max-width:$mobileSmall){
            background-size: 45%;
            background-position: 94% 40%;
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        @include adaptiveValue("gap", 30, 15);
        justify-content: center;
        @include adaptiveValue("margin-bottom", 50, 35);
    }

    &__link {
        color: $blueColor;
        display: inline-flex;
        align-items: center;
        align-self: flex-end;
        flex-direction: row-reverse;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 21, 18);
        @include adaptiveValue("gap", 20, 13);
        font-weight: 700;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $lightBlueColor;
                &::before{
                    transform: rotate(0);
                }
            }
        }
        &::before{
            transition: all 0.3s ease 0s;
            transform: rotate(180deg);
            font-size: rem(26);
        }
    }
}

.news-item {
    padding: rem(18) rem(20) rem(29) rem(20); 
    background-color: $whiteColor;
    box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.04), 0px 0px 17.5466px rgba(0, 0, 0, 0.0287542), 0px 0px 9.38125px rgba(0, 0, 0, 0.0238443), 0px 0px 5.25905px rgba(0, 0, 0, 0.02), 0px 0px 2.79304px rgba(0, 0, 0, 0.0161557), 0px 0px 1.16225px rgba(0, 0, 0, 0.0112458);
    border-radius: rem(10);
    max-width: rem(350);
    @media (max-width:rem(374.98)){
        max-width: 100%;
    }

    &__image {
        
        width: rem(310);
        height: rem(200);
        margin-bottom: rem(20);
        @media (max-width:rem(374.98)){
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: rem(10);
        }
    }

    &__title {
        color: $blackColor;
        font-size: rem(20);
        line-height: 130.02%;
        font-weight: 700;
        margin-bottom: rem(5);
        text-transform: uppercase;
    }

    &__text {
        font-size: rem(18);
        line-height: 130.02%;
    }
}


.help {
    background-image: url('@img/what-we-do/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include adaptiveValue("padding-top", 170, 140);
    @include adaptiveValue("padding-bottom", 170, 130);
    padding-top: 140px;
    &__container {
        text-align: center;
        max-width: rem(1004);
    }

    &__title {
        color: $whiteColor;
        margin-bottom: rem(10);
    }

    &__text {
        color: $whiteColor;
        @include adaptiveValue("font-size", 21, 16);
        line-height: 130.02%;
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("gap", 16, 20);
        @media (max-width:$mobile){
            flex-direction: column-reverse;
        }
    }

    &__link {
        width: rem(198);

        &_white {
            background-color: $whiteColor;
            color: $blueColor;
            @media (any-hover: hover){
                &:hover{
                    color: $whiteColor;
                }
            }
        }
    }
}

.photos {
    @include adaptiveValue("padding-top", 100, 35);
    @include adaptiveValue("padding-bottom", 100, 140);

    &__container {

    }

    &__title {
        text-align: center;
        color: $blueColor;
        padding: rem(20) 0;
        margin-bottom: rem(60);
        background-image: url('@img/decor-04.png');
        background-repeat: no-repeat;
        background-position: 50% 0;
        @media (max-width:$mobile){
            margin-bottom: 0;
        }
        @media (max-width:$mobileSmall){
            background-size: 58%;
            background-position: 50% 35%;
        }
    }

    &__subtitle {
        display: none;
        @media (max-width:$mobile){
            display: block;
            margin-bottom: rem(26);
            text-align: center;
        }
    }
}

.photos-slider {


    &__slider {
    }

    &__wrapper {
        
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: rem(18);
        margin-top: rem(60);
    }
}

.photos-slide {
    

    &__inner {
        position: relative;
        margin: 0 auto;
        @include adaptiveValue("width", 380, 348);
        @include adaptiveValue("height", 400, 325);
        @media (max-width:rem(374.98)){
            width: rem(280);
            height: rem(300);
        }

        &:hover {
            .photos-slide__text {
                opacity: 1;
            }

            .photos-slide__image {
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: relative;

        

        &::before {
            transition: all 0.3s ease 0s;
            content: '';
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: linear-gradient(359.29deg, rgba(0, 0, 0, 0.91) 0.67%, rgba(0, 0, 0, 0) 76.95%);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        @include adaptiveValue("max-width", 380, 348);
        transition: all 0.3s ease 0s;
        opacity: 0;
        position: absolute;
        z-index: 3;
        color: $whiteColor;
        bottom: 0;
        left: 0;
        right: 0;
        bottom: rem(28);
        padding: 0 rem(25) 0 rem(25);
        line-height: 130.02%;

        @media (max-width:rem(374.98)){
            max-width: rem(280);
        }
    }
}


